[submodule "external/linenoise"]
	path = external/linenoise
	url = git@github.com:antirez/linenoise.git
[submodule "external/libelfin"]
	path = external/libelfin
	url = git@github.com:aclements/libelfin.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/onqtam/doctest
